
.card-img-extra {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-size{
    height: 40% !important;
    width: 18rem !important;
}

.card {
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.search-target{
    margin-top: 2%;
    margin-bottom: 2%;
}

.tag{
    width: 40%;
    border-radius: 20px;
    background-color: gray;
}

.graph-size{
    height: 100%;
    width: 50%;
}

.blur {
    cursor: pointer;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.soso{
    margin-top: 5%;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}



.overlay-svg {
    position: absolute;
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-h2 {
    font-size: 100%;
}

.modal-p {
    margin-top: 1%;
    font-size: 60%;
}

.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

#time {
    margin-top: px;
    font-size: 20px;
}

#time-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    z-index: 1000; 
}
  
.modal-content {
    background-color: #ffffff;
    width: 260px;
    height: 200px;
    padding: 15px;
    border-radius: .5rem;
}

.btn-modal-yes {
    width: 30%;
    font-size: 60%;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.btn-modal-no {
    width: 30%;
    font-size: 60%;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

#main{
    margin: 10%;
}

h1, footer{
    color: rgb(246 55 90);
}

footer{
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.wrapper-in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.IP{
    font-size: 25px !important;
}

p {
    white-space: nowrap; /* 줄바꿈 방지 */
}

p span {
    display: inline-block; /* 너비 설정 가능하도록 변경 */
    width: 150px; /* 숫자 영역 너비 고정 */
    text-align: right; /* 숫자 오른쪽 정렬 */
}

/* 선택적으로 쉼표 추가 (JavaScript 또는 toLocaleString() 사용) */
p span.formatted {
    text-align: right;
}

h1 {
    margin-bottom: 2%;
    font-weight: 700;
}

fieldset{
    width: 100%;
}

#period {
    float: right;
    border: 0px;
    font-size: 20px;
}

.no-data {
    margin-top: 170px;
    text-align: center;
    margin-bottom: 146px;
}


@media (max-width: 768px) {
    .d-flex{
        display: inline !important;
    }
    .graph-size{
        width: 100% !important;
    }
}